/* ------------web view---------------- */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;
}
.navbar{
    height: 110px;
   display: flex;
box-shadow:  4px 5px 4px rgb(212, 209, 209);

}
.text{
    height: 100px;
    width: 250px;
    text-align:center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin:30px;
      margin-left: 100px;

}
.li{
    color:rgb(53, 182, 241);
}
.link{
    display: flex;
    justify-content:flex-end;
   margin-right: 200px;
   margin-top: 50px;

    
}
.icon{
    height: 40px;
    width: 40px;
    background-color:rgb(53, 182, 241);
    border-radius: 50%;
    justify-content: center;
}

.plus{
    font-size: 30px;
     height: 20px;
    width: 21px;
    text-align:center;
  margin-left: 10px;  
  margin-top: 2px; 
  color: white;
}

.ac{
    text-decoration: none;
    display: flex;
    flex-direction: row; 
}
.te{
   height: 40px; 
   
   width: 200px;
  padding: 9px;
  font-size: 18px;
  font-weight:2px;
}
.midcontainer{
   
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;
}
/* add new..*/
.content{
    padding-left: 20px;
    line-height: 40px;
    
}
.index3content{
    padding-left: 20px;
    line-height: 40px;
}
.textitem{
    text-align: center;
    padding: 8px;
}
.item{
    height: 250px;
    width: 250px;
    border: 2px solid rgb(219, 219, 219);
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
    /* text-align:center ; */
    
}
    
.item:hover{
box-shadow: 0px 0px 20px 10px rgb(224, 222, 222);
}
p{
    color:rgb(53, 182, 241) ;
    
    font-size: 20px;
    padding-left: 20px;
   
}
.check{
    width: 22px;
    height: 22px;
    border-radius: 30px;
    
    
}
.disabled{
    text-decoration: line-through;
    color: rgb(163, 163, 163);
    padding: 8px;
}

.parent{
    filter: blur(3px );
}
.addtask{
    width: 400px;
    height: 200px;
    background-color: rgb(233, 233, 233);
    position: relative;
    bottom: 550px;
    left: 35%;
    border-radius: 20px;
}
.hi{
    position: relative;
    top: 17px;
    left: 25px;
    color: rgb(37, 37, 37);
    line-height: 20px;
    font-size: 22px;
}
#cross{
    text-decoration: none;
    font-size: 20px;
    position: relative;
    color:rgb(37, 37, 37) ;
    left: 350px;
    bottom: 3px;
    
}
.input{
    width: 60px;
    position:relative;
    top: 30px;
    left: 20px;
}
#text{
    width: 350px;
    height: 25px;
}
.button{
    height: 30px;
    width: 110px;
    border-radius: 5px;
    background-color: rgb(53, 182, 241);
    position: relative;
    right: -265px;
    bottom: -50px;
    text-align: center;
     

}
.butext{
    padding-top: 5px;
}
.navication{
    text-decoration: none;

}
.page3main{
    position: absolute;
    top:170px;
    left: 450px;

}
.addindex3{
    position: absolute;
    top:130px;
    left:750px;
    height: 100px;
    width: 400px;
    
}
.back{
    position: absolute;
    left: 500px;
    top:130px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.backcolor{
        background-color: rgb(54, 53, 53);
    }
#backtext{
    font-size: 22px;
    margin: 8px;
}
.itemindex3{
    height: 300px;
    width: 400px;
    border: 2px solid rgb(219, 219, 219);
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
}
.p{
    text-align: center;
    font-size: 22px;
}
.additem{
    width: 400px;
    height: 200px;
    background-color: rgb(233, 233, 233);
    position: relative;
    bottom: -180px;
    left: 37%;
    border-radius: 20px;
}
